<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="index">
    <header>
        <nav>
            <div class="nav-left">
                <ul>
                    <li><a href="index.html">Home Page</a></li>
                    <li><a href="logbook.html">Log</a></li>
                    <li><a href="trends.html">Blood Sugar Trend</a></li>
                    <li><a href="settings.html">User Info</a></li>
                </ul>
            </div>
            <div class="nav-right">
                <ul v-if="currentUserID">
                    <li><span style="line-height: 37px">"Welcome"</span></li>
                    <li><span style="line-height: 37px">{{ currentUserID }}</span></li>
                    <li><span style="line-height: 37px">{{ currentUserAccount }}</span></li>
                    <el-button @click="logout()">Logout</el-button>
                </ul>
                <ul v-else>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section id="logbook-entries" v-if="posts.length > 0">

            <h1>Task</h1>
            <div class="add-activity-button-container">
                <el-button @click="openModal()">Add Task</el-button>
            </div>

            <div class="entry normal" v-for="post in posts" :key="post.id">
                <div class="post-header">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <div>
                        <span class="post-time">Created Time：{{ post.createTime }}</span>
                        <div class="delete-flex">
                            <button class="delete-button" @click="deleteTask(post.id)">delete</button>
                            <button class="update-button" @click="openModal(post.id)">edit</button>
                        </div>
                    </div>

                </div>
                <div class="post-content">{{ post.content }}</div>
            </div>
        </section>
        <p v-else>no record.</p>
    </main>


    <el-dialog
            :visible.sync="isModalOpen"
            title="Add Task"
            width="30%"
            :before-close="closeModal">
        <el-form ref="taskForm" :model="taskForm" label-width="80px">
            <el-form-item label="Title" prop="title">
                <el-input v-model="taskForm.title" placeholder="Please enter the title"></el-input>
            </el-form-item>
            <el-form-item label="Content" prop="content">
                <el-input type="textarea" v-model="taskForm.content" placeholder="Please enter the content"></el-input>
            </el-form-item>
        </el-form>

        <span slot="footer" class="dialog-footer">
            <el-button @click="closeModal">cancel</el-button>
            <el-button type="primary" @click="taskForm.id ? updateTask() : createTask()">
                {{ taskForm.id ? 'Edit Task' : 'Create Task' }}
            </el-button>
        </span>
    </el-dialog>


    <footer>
        <p>@2024，DiaLog</p>
    </footer>
</div>

<script>
    new Vue({
        name: 'index',
        el: '#index',
        data() {
            return {
                userMes: {},
                currentUserAccount:null,
                currentUserID: null,
                title: '',
                posts: [],
                tasks: [],
                isModalOpen: false,
                createTime: '',
                content: '',
                taskForm: {
                    id: '',
                    title: '',
                    content: '',
                    userId: '',
                    createTime: '', // Format these dates as 'YYYY-MM-DD HH:mm:ss'
                    updateTime: '', // or leave them as null if not set
                    dueTime: '',
                    notification: 1,
                },
            }
        },
        created() {
            const userMes = JSON.parse(localStorage.getItem('userMes'));
            this.currentUserAccount = userMes.userAccount;
            this.currentUserID = userMes.userID;
            this.readAll();
        },
        methods: {
            openModal(postId) {
                this.isModalOpen = true;
                if (postId) {
                    const selectedPost = this.posts.find(post => post.id === postId);
                    //nCallback Function: The callback function here is (post => post.id === postId).
                    // For each post in the this.posts array, it checks whether post.id is equal to postId.
                    // selectedPost: This is the variable where the result of the find operation is stored.
                    // If a post with an ID matching postId is found in the this.posts array, selectedPost will be that post object.
                    // If no matching post is found, selectedPost will be undefined.

                    if (selectedPost) {
                        this.taskForm.id = selectedPost.id;
                        this.taskForm.title = selectedPost.title;
                        this.taskForm.content = selectedPost.content;
                    }
                } else {
                    this.taskForm.id = '';
                    this.taskForm.title = '';
                    this.taskForm.content = '';
                }
            },

            createTask() {
                const createTime = this.formatCurrentDateTime();
                axios.post("https://dialog-1d1125195912.herokuapp.com/api/post/add/task",
                    {
                        userId: this.currentUserID,
                        title: this.taskForm.title,
                        content: this.taskForm.content,
                        createTime: createTime, // Format these dates as 'YYYY-MM-DD HH:mm:ss'
                        updateTime: null, // or leave them as null if not set
                        dueTime: null,
                        notification: this.taskForm.notification

                    })
                    .then(response => {
                        const responseData = response.data;
                        console.log("responseData:",responseData);
                        console.log("responseData.code:",responseData.code);
                        console.log("responseData.message:",responseData.message);
                        console.log("responseData.message:",responseData.data);
                        if (responseData.code === 200) {
                            console.log("Task Log Success", response.data);
                            this.readAll();
                            this.isModalOpen = false;
                            this.taskForm.title = '';
                            this.taskForm.content = '';
                        } else {
                            console.log("Task Log Failed", response.data);
                            alert(responseData.message);
                        }
                    })
                    .catch(error => {
                        console.error("DATA_NOT_FOUND_ERROR:", error);
                    });

            },
            updateTask() {
                axios.post("https://dialog-1d1125195912.herokuapp.com/api/post/update/task", {
                    id: this.taskForm.id,
                    userId: this.currentUserID,
                    title: this.taskForm.title,
                    content: this.taskForm.content,
                    createTime: this.taskForm.createTime, // Format these dates as 'YYYY-MM-DD HH:mm:ss'
                    updateTime: createTime, // or leave them as null if not set
                    dueTime: null,
                    notification: this.taskForm.notification
                })
                    .then(response => {
                        const responseData = response.data;
                        if (responseData.code === 200) {
                            console.log("Edit Success", response.data);
                            this.readAll();
                            this.isModalOpen = false;
                            this.taskForm.id = '';
                            this.taskForm.title = '';
                            this.taskForm.content = '';
                        } else {
                            alert(responseData.message);
                        }
                    })
                    .catch(error => {
                        console.error("DATA_NOT_FOUND_ERROR:", error);
                    });
            },
            closeModal() {
                this.$confirm('Are you sure you want to close this？', 'hint', {
                    confirmButtonText: 'Sure',
                    cancelButtonText: 'cancel',
                    type: 'info'
                }).then(() => {
                    this.isModalOpen = false;
                    this.taskForm.title = '';
                    this.taskForm.content = '';
                }).catch(() => {
                });
            },
            readAll() {
                axios.post("https://dialog-1d1125195912.herokuapp.com/api/post/read/all",
                    {
                        userId: this.currentUserID
                    })
                    .then(response => {
                        console.log("readAll Processing");
                        if (Array.isArray(response.data.data)) {
                            this.posts = response.data.data;
                            console.log("All posts:", this.posts);
                            console.log("posts.length:",this.posts.length);
                            console.log("post.title:",this.post.title);
                            console.log("post.createTime:",this.post.createTime);
                            console.log("post.id:",this.post.id);
                            // localStorage.setItem('posts',JSON.stringify(response.data));

                        } else if (typeof response.data.data === 'object') {
                            console.log("Object post:");
                            this.posts = Object.values(response.data.data);
                        } else {
                            console.error("Unsupport data type:", response.data);
                        }
                    })
                    .catch(error => {
                        console.error("DATA_NOT_FOUND_ERROR:", error);
                    });
            },

            deleteTask(postId) {
                this.$confirm('Are you sure you want to delete this task?', 'Notification', {
                    confirmButtonText: 'sure',
                    cancelButtonText: 'cancel',
                    type: 'warning'
                }).then(() => {
                    axios.post("https://dialog-1d1125195912.herokuapp.com/api/post/delete/task", { id: postId, userId: this.currentUserID })
                        .then(response => {
                            const responseData = response.data;
                            if (responseData.code === 200) {
                                console.log("Delete Success", response.data);
                                this.readAll();
                            } else {
                                alert(responseData.message);
                            }
                        })
                        .catch(error => {
                            console.error("Delete Failed:", error);
                        });
                }).catch(() => {
                    // Delete cancel
                });
            },
            logout(){
                localStorage.clear();
                // window.location.href = "login.html";
                window.location.replace('login.html');
            },
            formatCurrentDateTime() {
                const now = new Date();
                const year = now.getFullYear();
                const month = String(now.getMonth() + 1).padStart(2, '0'); // January is 0!
                const day = String(now.getDate()).padStart(2, '0');
                const hours = String(now.getHours()).padStart(2, '0');
                const minutes = String(now.getMinutes()).padStart(2, '0');
                const seconds = String(now.getSeconds()).padStart(2, '0');
                return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
            },
        },
    })

</script>

</body>
</html>
