<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="index">
    <header>
        <nav>
            <div class="nav-left">
                <ul>
                    <li><a href="index.html">Home Page</a></li>
                    <li><a href="logbook.html">Log</a></li>
                    <li><a href="trends.html">Blood Sugar Trend</a></li>
                    <li><a href="settings.html">User Info</a></li>
                </ul>
            </div>
            <div class="nav-right">
                <ul v-if="currentUserID">
                    <li><span style="line-height: 37px">{{ "Welcome" }}</span></li>
                    <li><span style="line-height: 37px">{{ currentUserID }}</span></li>
                    <li><span style="line-height: 37px">{{ userAccount }}</span></li>
                    <li><a href="login.html">Logout</a></li>
                </ul>
                <ul v-else>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section id="logbook-entries" v-if="posts.length > 0">
            <h1>Task</h1>
            <div class="entry normal" v-for="post in posts" :key="post.id">
                <div class="post-header">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <div>
                        <span class="post-time">Created Time：{{ post.createTime }}</span>
                        <div class="delete-flex">
                            <button class="delete-button" @click="deleteTask(post.id)">delete</button>
                            <button class="update-button" @click="openModal(post.id)">edit</button>
                        </div>
                    </div>

                </div>
                <div class="post-content">{{ post.content }}</div>
            </div>
        </section>
        <p v-else>no record。</p>
    </main>

    <div class="add-activity-button-container">
        <el-button @click="openModal()">Add Task</el-button>
    </div>
    <el-dialog
            :visible.sync="isModalOpen"
            title="Add Task"
            width="30%"
            :before-close="closeModal">
        <el-form ref="taskForm" :model="taskForm" label-width="80px">
            <el-form-item label="Title" prop="title">
                <el-input v-model="taskForm.title" placeholder="Please enter the title"></el-input>
            </el-form-item>
            <el-form-item label="Content" prop="content">
                <el-input type="textarea" v-model="taskForm.content" placeholder="Please enter the content"></el-input>
            </el-form-item>
        </el-form>

        <span slot="footer" class="dialog-footer">
            <el-button @click="closeModal">cancel</el-button>
            <el-button type="primary" @click="taskForm.id ? updateTask() : createTask()">
                {{ taskForm.id ? 'Edit Task' : 'Create Task' }}
            </el-button>
        </span>
    </el-dialog>

    <footer>
        <p>@2024，DiaLog</p>
    </footer>
</div>

<script>
    new Vue({
        name: 'index',
        el: '#index',
        data() {
            return {
                useMes: JSON.parse(localStorage.getItem('userMes')),
                currentUserID: null,
                title: '',
                posts: [],
                isModalOpen: false,
                createTime: '',
                content: '',
                taskForm: {
                    id: '',
                    title: '',
                    content: ''
                },
            }
        },
        created() {
            this.readAll();
            this.currentUserID = this.useMes.data
            this.userAccount = localStorage.getItem("userAccount")
        },
        methods: {
            openModal(postId) {
                this.isModalOpen = true;
                if (postId) {
                    // 如果有 postId，表示是修改任务，加载任务信息
                    const selectedPost = this.posts.find(post => post.id === postId);
                    if (selectedPost) {
                        this.taskForm.id = selectedPost.id;
                        this.taskForm.title = selectedPost.title;
                        this.taskForm.content = selectedPost.content;
                    }
                } else {
                    // 没有 postId，表示是添加任务
                    this.taskForm.id = '';
                    this.taskForm.title = '';
                    this.taskForm.content = '';
                }
            },

            createTask() {
                axios.post("http://35.179.12.19:7529/api/post/add",
                    {
                        title: this.taskForm.title,
                        content: this.taskForm.content,
                        userId: this.useMes.data.id
                    })
                    .then(response => {
                        const responseData = response.data;
                        if (responseData.code === 0) {
                            console.log("添加成功", response.data);
                            this.readAll();
                            this.isModalOpen = false;
                            this.taskForm.title = '';
                            this.taskForm.content = '';
                        } else {
                            alert(responseData.message);
                        }
                    })
                    .catch(error => {
                        console.error("检索时发生错误:", error);
                    });

            },
            updateTask() {
                axios.post("http://35.179.12.19:7529/api/post/update", {
                    id: this.taskForm.id,
                    title: this.taskForm.title,
                    content: this.taskForm.content
                })
                    .then(response => {
                        const responseData = response.data;
                        if (responseData.code === 0) {
                            console.log("修改成功", response.data);
                            this.readAll();
                            this.isModalOpen = false;
                            this.taskForm.id = '';
                            this.taskForm.title = '';
                            this.taskForm.content = '';
                        } else {
                            alert(responseData.message);
                        }
                    })
                    .catch(error => {
                        console.error("检索时发生错误:", error);
                    });
            },
            closeModal() {
                this.$confirm('确定要取消吗？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'info'
                }).then(() => {
                    this.isModalOpen = false;
                    this.taskForm.title = '';
                    this.taskForm.content = '';
                }).catch(() => {
                });
            },
            readAll() {
                axios.post("https://dialog-1d1125195912.herokuapp.com/api/post/read/all",
                    {
                        userId: this.useMes.data.id
                    })
                    .then(response => {
                        if (Array.isArray(response.data.data)) {
                            this.posts = response.data.data;
                        } else if (typeof response.data.data === 'object') {
                            // 如果是对象，将其转换为数组
                            this.posts = Object.values(response.data.data);
                        } else {
                            console.error("不支持的数据类型:", response.data.data);
                        }
                    })
                    .catch(error => {
                        console.error("检索时发生错误:", error);
                    });
            },

            deleteTask(postId) {
                this.$confirm('Are you sure you want to delete this task?', 'Notification', {
                    confirmButtonText: 'sure',
                    cancelButtonText: 'cancel',
                    type: 'warning'
                }).then(() => {
                    axios.post("https://dialog-1d1125195912.herokuapp.com/api/post/delete/user", { id: postId })
                        .then(response => {
                            const responseData = response.data;
                            if (responseData.code === 0) {
                                console.log("删除成功", response.data);
                                this.getAll();
                            } else {
                                alert(responseData.message);
                            }
                        })
                        .catch(error => {
                            console.error("删除时发生错误:", error);
                        });
                }).catch(() => {
                    // 用户取消了删除操作
                });
            },
        },
    })

</script>

</body>
</html>
