
.entry {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.post-title {
    font-size: 1.5em;
    margin-right: 10px;
}

.post-time {
    color: #888;
}

.post-content {
    line-height: 1.5;
}

.delete-button {
    margin-top: 10px;
    background-color: #ff6464;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
}

.delete-button:hover {
    background-color: #ff4d4d;
}

.update-button {
    margin-top: 10px;
    background-color: cornflowerblue;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
}

.update-button:hover {
    background-color: deepskyblue;
}

.delete-flex{
    margin-top: 20px
}
