<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>日常记录</title>
    <link rel="stylesheet" type="text/css" href="./logbook.css">
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://fastly.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://fastly.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://fastly.jsdelivr.net/npm/moment@2"></script>
</head>
<body>
<div id="logbook">
    <header>
        <nav>
            <div class="nav-left">
                <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="logbook.html">血糖记录</a></li>
                    <li><a href="trends.html">血糖趋势</a></li>
                    <li><a href="settings.html">个人信息</a></li>

                </ul>
            </div>
            <div class="nav-right">
                <ul v-if="currentUser">
                    <li><span style="line-height: 37px">{{ userAccount }}</span></li>
                </ul>
                <ul v-else>
                    <!-- 渲染登录/注册链接 -->
                    <li><a href="login.html">登录</a></li>
                    <li><a href="register.html">注册</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="add-activity-button-container">
        <el-button @click="openModal('simple',null)">添加简单记录</el-button>
    </div>
    <div class="add-activity-button-container">
        <el-button @click="openModal('medium',null)">添加中等记录</el-button>
    </div>
    <div class="add-activity-button-container">
        <el-button @click="openModal('complex',null)">添加复杂记录</el-button>
    </div>

    <main>
        <el-table :data="daydatas" class="table" style="width: 90%" stripe border>
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="createTime" label="日期" :formatter="formatDate" width="180"></el-table-column>
            <el-table-column prop="bloodSugar" label="血糖数值"></el-table-column>
            <el-table-column prop="notes" label="notes"></el-table-column>
            <el-table-column prop="createTime" label="记录时间" :formatter="formatTime"></el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button type="text" @click="deleteRecord(scope.row.id)">删除</el-button>
                    <el-button type="text" @click="openModal('complex',scope.row.id)">修改</el-button>
                </template>
            </el-table-column>
        </el-table>
    </main>

    <el-dialog
        :visible.sync="isModalOpen"
        :title="modalType === 'simple' ? '添加简单记录' : modalType === 'medium' ? '添加中等记录' : '添加复杂记录'"
        width="50%"
        :before-close="closeModal">

        <!-- bloodSugar for simple record -->
        <template v-if="modalType === 'simple'">
            <el-form ref="taskForm" :model="taskForm" label-width="120px">
                <el-form-item label="血糖数值" prop="bloodSugar">
                    <el-input type="textarea" v-model="taskForm.bloodSugar" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="notes" prop="notes">
                    <el-input type="textarea" v-model="taskForm.notes" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="createTime" prop="createTime">
                    <el-input type="textarea" v-model="taskForm.createTime" placeholder="请输入值"></el-input>
                </el-form-item>
            </el-form>
        </template>

        <!-- bloodSugar for medium record -->
        <template v-else-if="modalType === 'medium'">
            <el-form ref="taskForm" :model="taskForm" label-width="130px">
                <el-form-item label="血糖数值" prop="bloodSugar">
                    <el-input type="textarea" v-model="taskForm.bloodSugar" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="notes" prop="notes">
                    <el-input type="textarea" v-model="taskForm.notes" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="createTime" prop="createTime">
                    <el-input type="textarea" v-model="taskForm.createTime" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="updateTime" prop="updateTime">
                    <el-input type="textarea" v-model="taskForm.updateTime" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="carb" prop="carb">
                    <el-input type="textarea" v-model="taskForm.carb" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="mealDescription" prop="mealDescription">
                    <el-input type="textarea" v-model="taskForm.mealDescription" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="insulinDose" prop="insulinDose">
                    <el-input type="textarea" v-model="taskForm.insulinDose" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="medication" prop="medication">
                    <el-input type="textarea" v-model="taskForm.medication" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="exerciseDescription" prop="exerciseDescription">
                    <el-input type="textarea" v-model="taskForm.exerciseDescription" placeholder="请输入值"></el-input>
                </el-form-item>
            </el-form>
        </template>

        <!-- bloodSugar for complex record -->
        <template v-else-if="modalType === 'complex'">
            <el-form ref="taskForm" :model="taskForm" label-width="130px">
                <el-form-item label="血糖数值" prop="bloodSugar">
                    <el-input type="textarea" v-model="taskForm.bloodSugar" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="notes" prop="notes">
                    <el-input type="textarea" v-model="taskForm.notes" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="createTime" prop="createTime">
                    <el-input type="textarea" v-model="taskForm.createTime" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="carb" prop="carb">
                    <el-input type="textarea" v-model="taskForm.carb" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="mealDescription" prop="mealDescription">
                    <el-input type="textarea" v-model="taskForm.mealDescription" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="insulinDose" prop="insulinDose">
                    <el-input type="textarea" v-model="taskForm.insulinDose" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="medication" prop="medication">
                    <el-input type="textarea" v-model="taskForm.medication" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="exerciseDescription" prop="exerciseDescription">
                    <el-input type="textarea" v-model="taskForm.exerciseDescription" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="exerciseType" prop="exerciseType">
                    <el-input type="textarea" v-model="taskForm.exerciseType" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="exerciseDuration" prop="exerciseDuration">
                    <el-input type="textarea" v-model="taskForm.exerciseDuration" placeholder="请输入值"></el-input>
                </el-form-item>
                <el-form-item label="insulinType" prop="insulinType">
                    <el-input type="textarea" v-model="taskForm.insulinType" placeholder="请输入值"></el-input>
                </el-form-item>
            </el-form>
        </template>

        <span slot="footer" class="dialog-footer">
            <el-button @click="closeModal">取消</el-button>
            <el-button type="primary" @click="taskForm.id ? updateTask() : createTask()">
                {{ taskForm.id ? '修改记录' : '创建记录' }}
            </el-button>
        </span>
</el-dialog>


    <footer>
        <p>@2024，血糖系统</p>
    </footer>
</div>

<script>
    new Vue({
        name: 'logbook',
        el: '#logbook',
        data() {
            return {
                useMes: JSON.parse(localStorage.getItem('userMes')),
                currentUser: null,
                modalType: '',
                daydatas: [],
                isModalOpen: false,
                createTime: '',
                bloodSugar: '',
                taskForm: {
                    // Simple
                    id: '',
                    bloodSugar: '',
                    notes:'',
                    createTime:'',
                    updateTime:'',
                    logType:'',
                    //comprehensive
                    carb:'',
                    mealDescription:'',
                    insulinDose:'',
                    medication:'',
                    exerciseDescription:'',
                    //intensive
                    exerciseType:'',
                    exerciseDuration:'',
                    insulinType:'',
                },
                userAccount:null,
            }
        },
        created() {
            this.getAll();
           var  userAccount = localStorage.getItem("userAccount")
             this.currentUser = []
            this.userAccount = userAccount
        },
        methods: {
            formatDate(row) {
                // 格式化日期
                return moment(row.createTime).format('YYYY年MM月DD日');
            },
            formatTime(row) {
                // 格式化时间
                return moment(row.createTime).format('HH时mm分ss秒');
            },
            openModal(type, dadataId) {
                this.modalType = type; // This will be 'simple', 'medium', or 'complex'
                this.isModalOpen = true;
                if (dadataId !== undefined && dadataId !== null) {
                    const selectedRecord = this.daydatas.find(record => record.id === dadataId);
                    if (selectedRecord) {
                        this.taskForm.id = selectedRecord.id;
                        this.taskForm.bloodSugar = selectedRecord.bloodSugar;
                        this.taskForm.notes = selectedRecord.notes;
                        this.taskForm.createTime = selectedRecord.createTime;
                        this.taskForm.updateTime = selectedRecord.updateTime;
                        this.taskForm.logType = selectedRecord.logType;
                        this.taskForm.carb = selectedRecord.carb;
                        this.taskForm.mealDescription = selectedRecord.mealDescription;
                        this.taskForm.insulinDose = selectedRecord.insulinDose;
                        this.taskForm.medication = selectedRecord.medication;
                        this.taskForm.exerciseDescription = selectedRecord.exerciseDescription;
                        this.taskForm.exerciseType = selectedRecord.exerciseType;
                        this.taskForm.exerciseDuration = selectedRecord.exerciseDuration;
                        this.taskForm.insulinType = selectedRecord.insulinType;
                    }
                } else {
                    this.taskForm.id = '';
                    this.taskForm.bloodSugar = '';
                    this.taskForm.notes='';
                    this.taskForm.createTime='';
                    this.taskForm.updateTime='';
                    this.taskForm.logType='';
                    //comprehensive
                    this.taskForm.carb='';
                    this.taskForm.mealDescription='';
                    this.taskForm.insulinDose='';
                    this.taskForm.medication='';
                    this.taskForm.exerciseDescription='';
                    //intensive
                    this.taskForm.exerciseType='';
                    this.taskForm.exerciseDuration='';
                    this.taskForm.insulinType='';
                }
            },
            createTask() {
                axios.post("http://127.0.0.1:8080/api/daydata/add",
                    {
                        id: this.taskForm.id,
                        bloodSugar: this.taskForm.bloodSugar,
                        notes: this.taskForm.notes,
                        createTime: this.taskForm.createTime,
                        updateTime: this.taskForm.updateTime,
                        logType: this.taskForm.logType,
                        //comprehensive
                        carb: this.taskForm.carb,
                        mealDescription: this.taskForm.mealDescription,
                        insulinDose: this.taskForm.insulinDose,
                        medication: this.taskForm.medication,
                        exerciseDescription: this.taskForm.exerciseDescription,
                        //intensive
                        exerciseType: this.taskForm.exerciseType,
                        exerciseDuration: this.taskForm.exerciseDuration,
                        insulinType: this.taskForm.insulinType,

                    })
                    .then(response => {
                        const responseData = response.data;
                        if (responseData.code === 0) {
                            console.log("添加成功", response.data);
                            this.getAll();
                            this.isModalOpen = false;
                            this.taskForm.bloodSugar = '';
                            this.taskForm.notes='';
                            this.taskForm.createTime='';
                            this.taskForm.updateTime='';
                            this.taskForm.logType='';
                            //comprehensive
                            this.taskForm.carb='';
                            this.taskForm.mealDescription='';
                            this.taskForm.insulinDose='';
                            this.taskForm.medication='';
                            this.taskForm.exerciseDescription='';
                            //intensive
                            this.taskForm.exerciseType='';
                            this.taskForm.exerciseDuration='';
                            this.taskForm.insulinType='';
                        } else {
                            alert(responseData.message);
                        }
                    })
                    .catch(error => {
                        console.error("检索时发生错误:", error);
                    });

            },
            updateTask() {
                axios.post("http://127.0.0.1:8080/api/daydata/update", {
                    id: this.taskForm.id,
                    bloodSugar: this.taskForm.bloodSugar,
                    notes: this.taskForm.notes,
                    createTime: this.taskForm.createTime,
                    updateTime: this.taskForm.updateTime,
                    logType: this.taskForm.logType,
                    //comprehensive
                    carb: this.taskForm.carb,
                    mealDescription: this.taskForm.mealDescription,
                    insulinDose: this.taskForm.insulinDose,
                    medication: this.taskForm.medication,
                    exerciseDescription: this.taskForm.exerciseDescription,
                    //intensive
                    exerciseType: this.taskForm.exerciseType,
                    exerciseDuration: this.taskForm.exerciseDuration,
                    insulinType: this.taskForm.insulinType,
                })
                    .then(response => {
                        const responseData = response.data;
                        if (responseData.code === 0) {
                            console.log("修改成功", response.data);
                            this.getAll();
                            this.isModalOpen = false;
                            this.taskForm.id = '';
                            this.taskForm.bloodSugar = '';
                            this.taskForm.notes='';
                            this.taskForm.createTime='';
                            this.taskForm.updateTime='';
                            this.taskForm.logType='';
                            //comprehensive
                            this.taskForm.carb='';
                            this.taskForm.mealDescription='';
                            this.taskForm.insulinDose='';
                            this.taskForm.medication='';
                            this.taskForm.exerciseDescription='';
                            //intensive
                            this.taskForm.exerciseType='';
                            this.taskForm.exerciseDuration='';
                            this.taskForm.insulinType='';
                        } else {
                            alert(responseData.message);
                        }
                    })
                    .catch(error => {
                        console.error("检索时发生错误:", error);
                    });
            },
            closeModal() {
                this.$confirm('确定要取消吗？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'info'
                }).then(() => {
                    this.isModalOpen = false;
                    this.taskForm.bloodSugar = '';
                }).catch(() => {
                });
            },
            getAll() {
                axios.post("http://127.0.0.1:8080/api/daydata/getByUserId",
                    {
                        userId: this.useMes.user_id
                    })
                    .then(response => {
                        console.log(response.data.data)
                        if (Array.isArray(response.data.data)) {
                            this.daydatas = response.data.data;
                        } else if (typeof response.data.data === 'object') {
                            this.daydatas = Object.values(response.data.data);
                        } else {
                            console.error("不支持的数据类型:", response.data.data);
                        }
                    })
                    .catch(error => {
                        console.error("检索时发生错误:", error);
                    });
            },
            deleteRecord(id) {
                if (window.confirm('确定删除吗？')) {
                    axios.post('http://127.0.0.1:8080/api/daydata/delete', { id: id })
                        .then(response => {
                            if (response.data) {
                                this.getAll();
                            } else {
                                console.error('删除失败，未返回有效数据');
                            }
                        })
                        .catch(error => {
                            console.error('删除记录时出错：', error);
                        });
                }},
        },
    })

</script>
</body>
</html>
