<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logbook</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2"></script>
</head>
<body>
<div id="logbook">
    <header>
        <nav>
            <div class="nav-left">
                <ul>
                    <li><a href="index.html">Home Page</a></li>
                    <li><a href="logbook.html">Logbook</a></li>
                    <li><a href="trends.html">Blood Sugar Trend</a></li>
                    <li><a href="settings.html">User Info</a></li>

                </ul>
            </div>
            <div class="nav-right">
                <ul v-if="currentUserID">
                    <li><span style="line-height: 37px">"Welcome"</span></li>
                    <li><span style="line-height: 37px">{{ currentUserID }}</span></li>
                    <li><span style="line-height: 37px">{{ currentUserAccount }}</span></li>
                    <el-button @click="logout()">Logout</el-button>
                </ul>
                <ul v-else>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="add-activity-button-container">
        <el-button @click="openModal()">Add Task</el-button>
    </div>

    <main>
        <el-table :data="daydatas" class="table" style="width: 90%" stripe border>
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="createTime" label="Date" :formatter="formatDate" width="180"></el-table-column>
            <el-table-column prop="title" label="Blood sugar"></el-table-column>
            <el-table-column prop="content" label="Insulin"></el-table-column>
            <el-table-column prop="content" label="Carbs"></el-table-column>
            <el-table-column prop="Note" label="Note" :formatter="formatTime"></el-table-column>
            <el-table-column prop="createTime" label="Time" :formatter="formatTime"></el-table-column>
            <el-table-column label="Button">
                <template slot-scope="scope">
                    <el-button type="text" @click="deleteRecord(scope.row.id)">delete</el-button>
                    <el-button type="text" @click="openModal(scope.row.id)">edit</el-button>
                </template>
            </el-table-column>
        </el-table>
    </main>


    <el-dialog
            :visible.sync="isModalOpen"
            title="Add New Entry"
            width="30%"
            :before-close="closeModal">
        <el-form ref="logForm" :model="logForm" label-width="80px">
            <el-form-item label="名称" prop="title">
                <el-select v-model="logForm.title" placeholder="请选择">
                    <el-option label="血糖" value="血糖"></el-option>
                    <el-option label="碳水化合物" value="碳水化合物"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="数值" prop="content">
                <el-input type="textarea" v-model="logForm.content" placeholder="请输入值"></el-input>
            </el-form-item>
        </el-form>

        <span slot="footer" class="dialog-footer">
            <el-button @click="closeModal">取消</el-button>
            <el-button type="primary" @click="logForm.id ? updateTask() : createTask()">
                {{ logForm.id ? '修改记录' : '创建记录' }}
            </el-button>
        </span>
    </el-dialog>

    <footer>
        <p>@2024，血糖系统</p>
    </footer>
</div>

<script>
    new Vue({
        name: 'logbook',
        el: '#logbook',
        data() {
            return {
                userMes: {},
                currentUserAccount:null,
                currentUserID: null,
                title: '',
                currentUser: null,
                daydatas: [],
                isModalOpen: false,
                createTime: '',
                content: '',
                logForm: {
                    id: '',
                    title: '',
                    content: ''
                },
            }
        },
        created() {
            this.getAll();
            this.currentUser = this.useMes.data
        },
        methods: {
            formatDate(row) {
                // 格式化日期
                return moment(row.createTime).format('YYYY年MM月DD日');
            },
            formatTime(row) {
                // 格式化时间
                return moment(row.createTime).format('HH时mm分ss秒');
            },
            openModal(dadataId) {
                this.isModalOpen = true;
                if (dadataId !== undefined && dadataId !== null) {
                    const selectedRecord = this.daydatas.find(record => record.id === dadataId);
                    if (selectedRecord) {
                        this.logForm.id = selectedRecord.id;
                        this.logForm.title = selectedRecord.title;
                        this.logForm.content = selectedRecord.content;
                    }
                } else {
                    this.logForm.id = '';
                    this.logForm.title = '';
                    this.logForm.content = '';
                }
            },
            createTask() {
                axios.post("http://35.179.12.19:7529/api/daydata/add",
                    {
                        title: this.logForm.title,
                        content: this.logForm.content,
                        userId: this.useMes.data.id
                    })
                    .then(response => {
                        const responseData = response.data;
                        if (responseData.code === 0) {
                            console.log("添加成功", response.data);
                            this.getAll();
                            this.isModalOpen = false;
                            this.logForm.title = '';
                            this.logForm.content = '';
                        } else {
                            alert(responseData.message);
                        }
                    })
                    .catch(error => {
                        console.error("检索时发生错误:", error);
                    });

            },
            updateTask() {
                axios.post("http://35.179.12.19:7529/api/daydata/update", {
                    id: this.logForm.id,
                    title: this.logForm.title,
                    content: this.logForm.content
                })
                    .then(response => {
                        const responseData = response.data;
                        if (responseData.code === 0) {
                            console.log("修改成功", response.data);
                            this.getAll();
                            this.isModalOpen = false;
                            this.logForm.id = '';
                            this.logForm.title = '';
                            this.logForm.content = '';
                        } else {
                            alert(responseData.message);
                        }
                    })
                    .catch(error => {
                        console.error("检索时发生错误:", error);
                    });
            },
            closeModal() {
                this.$confirm('确定要取消吗？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'info'
                }).then(() => {
                    this.isModalOpen = false;
                    this.logForm.title = '';
                    this.logForm.content = '';
                }).catch(() => {
                });
            },
            getAll() {
                axios.post("http://35.179.12.19:7529/api/daydata/getByUserId",
                    {
                        userId: this.useMes.data.id
                    })
                    .then(response => {
                        if (Array.isArray(response.data.data)) {
                            this.daydatas = response.data.data;
                        } else if (typeof response.data.data === 'object') {
                            this.daydatas = Object.values(response.data.data);
                        } else {
                            console.error("不支持的数据类型:", response.data.data);
                        }
                    })
                    .catch(error => {
                        console.error("检索时发生错误:", error);
                    });
            },
            deleteRecord(id) {
                if (window.confirm('确定删除吗？')) {
                    axios.post('http://35.179.12.19:7529/api/daydata/delete', { id: id })
                        .then(response => {
                            if (response.data) {
                                this.getAll();
                            } else {
                                console.error('删除失败，未返回有效数据');
                            }
                        })
                        .catch(error => {
                            console.error('删除记录时出错：', error);
                        });
                }},
        },
    })

</script>
</body>
</html>
