<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="login.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
<div id="app" class="container" v-cloak>
    <div class="logo-section">
        <img src="loginImage.webp" alt="Logo">
    </div>
    <div class="login-section">
        <form @submit.prevent="submitLoginForm">
            <h1>Welcome</h1>
            <div class="form-group">
                <label for="account">User</label>
                <input type="text" v-model="account" id="account" name="account">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" v-model="password" id="password" name="password">
            </div>
            <button type="submit">Login</button>
            <a href="register.html">&nbsp;New to DiaLog?</a>
        </form>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            account: '',
            password: ''
        },
        methods: {
            submitLoginForm() {
                //
                const account = this.account;
                const password = this.password;

                axios.post("https://dialog-1d1125195912.herokuapp.com/login", {
                    userAccount: account,
                    userPassword: password,
                })
                    .then((response) => {
                        const responseData = response.data;
                        console.log("responseData:",responseData);
                        console.log("responseData.code:",responseData.code);
                        console.log("responseData.message:",responseData.message);
                        if (responseData.code === 0) {
                            console.log("Login Success", response.data);
                            // window.location.replace('./index.html');
                        } else {
                            alert(responseData.message);
                        }
                    })
                    .catch((error) => {
                        if (error.response) {
                            // The request was made and the server responded with a status code
                            console.log("Error Data:", error.response.data);
                            console.log("Error Status:", error.response.status);
                        } else if (error.request) {
                            // The request was made but no response was received
                            console.log("Error Request:", error.request);
                        } else {
                            // Something else caused the error
                            console.log("Error Message:", error.message);
                        }
                        console.log(error.config);
                        console.error("Login Failed", error);
                    });
            }
        }
    });
</script>

</body>
</html>
