<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="login.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
<div id="app" class="container" v-cloak>
    <div class="logo-section">
        <img src="loginImage.webp" alt="Logo">
    </div>
    <div class="login-section">
        <form @submit.prevent="submitLoginForm">
            <h1>Welcome</h1>
            <div class="form-group">
                <label for="account">User</label>
                <input type="text" v-model="account" id="account" name="account">
            </div>
            <div class="form-group">
                <label for="password">Passwork</label>
                <input type="password" v-model="password" id="password" name="password">
            </div>
            <button type="submit">Login</button>
            <a href="register.html">&nbsp;New to DiaLog?</a>
        </form>
    </div>
</div>

</body>
</html>
