<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="login.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
<div id="app" class="container" v-cloak>
    <div class="logo-section">
        <img src="loginImage.webp" alt="Logo">
    </div>
    <div class="login-section">
        <form @submit.prevent="submitLoginForm">
            <h1>Welcome</h1>
            <div class="form-group">
                <label for="account">User</label>
                <input type="text" v-model="account" id="account" name="account">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" v-model="password" id="password" name="password">
            </div>
            <button type="submit">Login</button>
            <a href="register.html">&nbsp;New to DiaLog?</a>
        </form>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            account: '',
            password: ''
        },
        methods: {
            submitLoginForm() {
                //
                const requestData = {
                    userAccount: this.account,
                    userPassword: this.password,
                    checkPassword: '',
                    id: '',
                    userName: '',
                    address: '',
                    email: '',
                    gender: '',
                    diabetesType: '',
                    insulinType: '',
                    phoneNumber: '',
                    doctorNumber: '',
                    postalCode: '',
                };
                //axios.post("http://localhost:8080/dialog/login", requestData)
                axios.post("https://dialog-1d1125195912.herokuapp.com/login", requestData)
                    .then(response => {
                        const responseData = response.data;
                        console.log("responseData:",responseData);
                        console.log("responseData.code:",responseData.code);
                        console.log("responseData.message:",responseData.message);
                        if (responseData.code === 200) {
                            console.log("Login Success", response.data);

                            localStorage.setItem('userMes',JSON.stringify(responseData.data));

                            let userMes = JSON.parse(localStorage.getItem('userMes'));
                            console.log("userMes", userMes);
                            console.log("userID", userMes.userID);
                            console.log("userAccount", userMes.userAccount);
                            console.log("userPassword", userMes.userPassword);
                            window.location.replace('index.html');

                        } else if (responseData.code === 40400){
                            console.log("Login data not found", response.data);
                            alert("Invalid User Account or Password");

                        } else {
                            alert("Login Failed");
                            alert(responseData.message);
                            console.log(responseData.data);
                            console.log(responseData.message);
                        }
                    })
                    .catch((error) => {
                        console.log(error.config);
                        console.error("Login Failed", error);
                    });
            }
        }
    });
</script>

</body>
</html>
