<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="login.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
<div id="app" class="container" v-cloak>
    <div class="logo-section">
        <img src="loginImage.webp" alt="Logo">
    </div>
    <div class="login-section">
        <form @submit.prevent="submitLoginForm">
            <h1>Welcome</h1>
            <div class="form-group">
                <label for="account">User</label>
                <input type="text" v-model="account" id="account" name="account">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" v-model="password" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Password Comfirm</label>
                <input type="password" v-model="confirmPassword" id="confirmPassword" name="confirmPassword">
            </div>
            <button type="submit">Sign Up</button>
            <a href="login.html">&nbsp;Already have a DiaLog account?</a>
        </form>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            account: '',
            password: '',
            confirmPassword: '',
        },
        methods: {
            submitLoginForm() {
                if (this.password !== this.confirmPassword) {
                    alert("Passwords do not match");
                    return;
                }

                const requestData = {
                    userAccount: this.account,
                    userPassword: this.password,
                    checkPassword: this.confirmPassword,
                };
                //axios.post("http://localhost:8080/dialog/register", requestData)
                axios.post("https://dialog-1d1125195912.herokuapp.com/register", requestData)
                    .then(response => {
                        const responseData = response.data;
                        console.log("responseData:",responseData);
                        console.log("responseData.code:",responseData.code);
                        console.log("responseData.message:",responseData.message);
                        if (responseData.code === 200) {
                            console.log("Register Success", response.data);
                            window.location.href = "login.html";
                        } else {
                            alert("Register Failed");
                            alert(responseData.message);
                            console.log(responseData.data);
                            console.log(responseData.message);
                        }
                    })
                    .catch(error => {
                        if (error.response) {
                            // The request was made and the server responded with a status code
                            console.log("Error Data:", error.response.data);
                            console.log("Error Status:", error.response.status);
                        } else if (error.request) {
                            // The request was made but no response was received
                            console.log("Error Request:", error.request);
                        } else {
                            // Something else caused the error
                            console.log("Error Message:", error.message);
                        }
                        console.log(error.config);
                        console.error("Register Failed", error);
                    });
            }
        }
    });
</script>

</body>
</html>
