<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人信息</title>
    <link rel="stylesheet" href="settingstyle.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="setting">
    <header>
        <nav>
            <div class="nav-left">
                <ul>
                    <li><a href="index.html">Home Page</a></li>
                    <li><a href="logbook.html">Logbook</a></li>
                    <li><a href="trends.html">Blood Sugar Trend</a></li>
                    <li><a href="settings.html">User Info</a></li>
                </ul>
            </div>
            <div class="nav-right">
                <ul v-if="currentUserID">
                    <li><span style="line-height: 37px">"Welcome"</span></li>
                    <li><span style="line-height: 37px">{{ currentUserID }}</span></li>
                    <li><span style="line-height: 37px">{{ currentUserAccount }}</span></li>
                    <el-button @click="logout()">Logout</el-button>
                </ul>
                <ul v-else>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <el-card class="box-card">
        <div slot="header" class="clearfix">
            <span>Personal Information</span>
            <el-button @click="editMode = !editMode">{{ editMode ? 'Edit' : 'Done Editing' }}</el-button>
            <el-button @click="saveChanges" v-if="!editMode">Save</el-button>
        </div>
        <div>
            <el-form ref="userForm" :model="currentUser" :rules="rules" label-width="80px">
                <el-form-item label="名称">
                    <el-input v-model="currentUser.userName" :disabled="editMode"></el-input>
                </el-form-item>
                <el-form-item label="性别">
                    <el-select v-model="selectedGender" :disabled="editMode">
                        <el-option label="男" value="1"></el-option>
                        <el-option label="女" value="2"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="邮箱">
                    <el-input v-model="currentUser.email" :disabled="editMode"></el-input>
                </el-form-item>
                <el-form-item label="电话号码">
                    <el-input v-model="currentUser.phoneNumber" :disabled="editMode"></el-input>
                </el-form-item>
                <el-form-item label="糖尿病类型">
                    <el-select v-model="currentUser.diabetesType" :disabled="editMode">
                        <el-option label="1型" value="1"></el-option>
                        <el-option label="2型" value="2"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="胰岛素类型">
                    <el-select v-model="selectedGender" :disabled="editMode">
                        <el-option label="长期" value="5"></el-option>
                        <el-option label="短期" value="6"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="电话号码">
                    <el-input v-model="currentUser.doctorNumber" :disabled="editMode"></el-input>
                </el-form-item>
                <el-form-item label="邮编">
                    <el-input v-model="currentUser.postalCode" :disabled="editMode"></el-input>
                </el-form-item>
                <el-form-item label="地址">
                    <el-input v-model="currentUser.address" :disabled="editMode"></el-input>
                </el-form-item>
            </el-form>
        </div>
    </el-card>
</div>
<script>
    new Vue({
        name: 'setting',
        el: '#setting',
        data() {
            return {
                userMes: {},
                currentUser: null,
                editMode: true,
                selectedGender: '',
                rules: {
                    userName: [{ required: true, message: '请输入名称', trigger: 'blur' }],
                    gender: [{ required: true, message: '请输入性别', trigger: 'blur' }],
                    diabetesType: [{ required: true, message: '糖尿病类', trigger: 'blur' }],
                    insulinType: [{ required: true, message: '胰岛素类型', trigger: 'blur' }],
                    email: [{ required: true, message: '请输入邮箱', trigger: 'blur' }],
                    phoneNumber: [{ required: true, message: '请输入电话号码', trigger: 'blur' }],
                    doctorNumber: [{ required: true, message: '请输入医生电话号码', trigger: 'blur' }],
                    postalCode: [{ required: true, message: '请输入邮编', trigger: 'blur' }],
                    address: [{ required: true, message: '请输入地址', trigger: 'blur' }],
                }
            }
        },
        created() {
            const userMes = JSON.parse(localStorage.getItem('userMes'));
            this.currentUserAccount = userMes.userAccount;
            this.currentUserID = userMes.userID;
            this.selectedGender = this.currentUser.gender.toString()
        },
        methods: {
            saveChanges() {
                axios.post("https://dialog-1d1125195912.herokuapp.com/api/post/update/user", {
                    id: this.currentUser.id,
                    userName: this.currentUser.userName,
                    address: this.currentUser.address,
                    email: this.currentUser.email,
                    gender: this.selectedGender,
                    diabetesType: this.currentUser.diabetesType,
                    insulinType: this.currentUser.insulinType,
                    phoneNumber: this.currentUser.phoneNumber,
                    doctorNumber: this.currentUser.doctorNumber,
                    postalCode: this.currentUser.postalCode,

                })
                    .then(response => {
                        const responseData = response.data;
                        if (responseData.code === 0) {
                            console.log("修改成功", response.data);
                            this.userMes.data.gender = this.selectedGender;
                            localStorage.setItem('userMes', JSON.stringify(this.userMes));
                            this.editMode = true;
                        } else {
                            alert(responseData.message);
                        }
                    })
                    .catch(error => {
                        console.error("检索时发生错误:", error);
                    });
            },
            logout(){
                localStorage.clear();
                // window.location.href = "login.html";
                window.location.replace('login.html');
            },
            formatCurrentDateTime() {
                const now = new Date();
                const year = now.getFullYear();
                const month = String(now.getMonth() + 1).padStart(2, '0'); // January is 0!
                const day = String(now.getDate()).padStart(2, '0');
                const hours = String(now.getHours()).padStart(2, '0');
                const minutes = String(now.getMinutes()).padStart(2, '0');
                const seconds = String(now.getSeconds()).padStart(2, '0');
                return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
            }
        },
    })

</script>
</body>
</html>
