/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background: #f5f7fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between; /* This will space between the nav-left and nav-right */
}

.nav-left, .nav-right {
    display: flex;
}

.nav-left ul, .nav-right ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-left li, .nav-right li {
    margin-right: 20px;
}

.nav-right li:last-child {
    margin-right: 0; /* Removes margin for the last item */
}

.nav-left li a, .nav-right li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    display: block;
    padding: 8px 15px;
    border-radius: 4px;
}

.nav-left li a:hover, .nav-right li a:hover {
    background-color: #eaeaea;
}


#logbook-entries {
    background: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.entry {
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
}

.entry:last-child {
    border-bottom: none;
}

.entry span {
    display: inline-block;
    margin-right: 20px;
    font-size: 0.9em;
}

.entry .date {
    font-weight: bold;
}

.entry .level {
    font-weight: bold;
    color: #4caf50; /* Green for normal levels */
}

/* Add .high and .medium with appropriate colors */

#summary {
    background: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.summary-item {
    margin-bottom: 10px;
}

.summary-item .label {
    font-weight: bold;
}

.summary-item .value {
    float: right;
    font-weight: bold;
}

footer {
    background-color: #ffffff;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.add-activity-button-container {
    text-align: center;
    margin: 20px 0;
}

.add-activity-button-container button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-activity-button-container button:hover {
    background-color: #45a049;
}