<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <link rel="stylesheet" href="./trends.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <script src="https://fastly.jsdelivr.net/npm/vue@2"></script>
    <script src="https://fastly.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://fastly.jsdelivr.net/npm/moment@2"></script>
    <script src="./echarts.min.js"></script>
</head>
<body>
<div id="rend">
    <header>
        <nav>
            <div class="nav-left">
                <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="logbook.html">血糖记录</a></li>
                    <li><a href="trends.html">血糖趋势</a></li>
                    <li><a href="settings.html">个人信息</a></li>
                </ul>
            </div>
            <div class="nav-right">
                <ul v-if="userAccount">
                    <li><span style="line-height: 37px">{{ userAccount }}</span></li>
                </ul>
                <ul v-else>
                    <!-- 渲染登录/注册链接 -->
                    <li><a href="login.html">登录</a></li>
                    <li><a href="register.html">注册</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <el-card class="el-card-set">
        <h2>图表控制台</h2>
        <div style="display: flex">
            <el-card class="el-card-set-son">
                <b>数据时间段</b>
                <el-select v-model="selectedOption" placeholder="请选择" @change="changeDate()">
                    <el-option label="全部" value="all"></el-option>
                    <el-option label="当天" value="today"></el-option>
                    <el-option label="早上" value="morning"></el-option>
                    <el-option label="中午" value="noon"></el-option>
                    <el-option label="晚上" value="evening"></el-option>
                    <el-option label="自定义" value="set"></el-option>
                </el-select>
                <el-date-picker v-if="selectedOption === 'set'"
                                v-model="customDateRange"
                                style="margin-top: 10px"
                                type="datetimerange"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"
                               @change="changeDate()"
                ></el-date-picker>
            </el-card>
            <el-card class="el-card-set-son">
                <div style="margin-bottom: 10px">
                    <b>数据类型</b>
                </div>
                <el-checkbox-group v-model="checkedItems" @change="changeDate()">
        
                    <el-checkbox label="bloodSugar">血糖</el-checkbox>
                    <el-checkbox label="carbohydrate">碳水化合物</el-checkbox>
                </el-checkbox-group>
            </el-card>
        </div>
    </el-card>
    <el-card class="el-card-set">
        <div id="lineChart" style="width: 100%; height: 400px;"></div>
    </el-card>
    

    <footer>
        <p>@2024，血糖系统</p>
    </footer>
</div>

<script>

    new Vue({
        name: 'rend',
        el: '#rend',
        data() {
            return {
                useMes: JSON.parse(localStorage.getItem('userMes')),
                title: '',
                currentUser: null,
                userAccount: null,
                daydatas: [],
				customDateRange: [],
                createTime: '',
                content: '',
                selectedOption: 'all',
                userAccount:null,
				checkedItems: ["bloodSugar","carbohydrate"],
				}
        },
        created() {
			this.getAll();
           var  userAccount = localStorage.getItem("userAccount")
           this.userAccount = userAccount

        },
        methods: {
             getAll() {
                 axios.post("http://127.0.0.1:8080/api/daydata/getByUserId", {
                     userId: this.useMes.user_id
                 })
                 .then(response => {
                     this.daydatas = Array.isArray(response.data.data) ? response.data.data : Object.values(response.data.data);
					 
                     this.drawChart();
                 })
                 .catch(error => {
                     console.error("Error:", error);
                 });
             },
     //         filterBloodSugarData() {
				 // console.log(this.daydatas)
				 // if(this.checkedItems.length ===2 ){
					//  this.drawChart();
				 // }
				 // else if(this.checkedItems[0] === "bloodSugar")
     //             {
					//  this.daydatas = this.daydatas.filter(item => item.title === '碳水化合物');
					//  this.drawChart();
				 // }
				 // else if(this.checkedItems[0] === "carbohydrate")
				 // {
					//  this.daydatas = this.daydatas.filter(item => item.title === '血糖');
					//  this.drawChart();
				 // }
                 
     //         },
	         changeDate(){
				 this.drawChart();
			 },
             drawChart() {
                 const chartContainer = document.getElementById('lineChart');
                 const chart = echarts.init(chartContainer);
                 
                 let filteredData = this.daydatas.filter(item => {
                     let includeItem = false;
                     const itemDate = moment(item.createTime);
                     const start = this.customDateRange ? moment(this.customDateRange[0]) : moment().startOf('day');
                     const end = this.customDateRange ? moment(this.customDateRange[1]) : moment().endOf('day');
                     
					 console.log(this.selectedOption)
                     switch (this.selectedOption) {
                         case 'today':
                             includeItem = itemDate.isSame(moment(), 'day');
                             break;
                         case 'morning':
                             includeItem = itemDate.hour() >= 6 && itemDate.hour() <= 9;
                             break;
                         case 'noon':
                             includeItem = itemDate.hour() >= 11 && itemDate.hour() <= 14;
                             break;
                         case 'evening':
                             includeItem = itemDate.hour() >= 16 && itemDate.hour() <= 19;
                             break;
                         case 'set':
                             includeItem = itemDate.isBetween(start, end);
                             break;
                         default:
                             includeItem = true;
                     }
                     return includeItem;
                 });
                
				  
                var xAxisData = "";
				var xAxisData1 = "";
				var xAxisData2 = "";
				
				var bloodSugarSeriesData = new Object();
				var carbohydrateData = new Object();
			    if(this.checkedItems.length == 2 ){
					
					 	filteredData1 = filteredData.filter(item => item.title === '血糖')
					 	bloodSugarSeriesData = filteredData1.map(item => parseFloat(item.content));
					 	filteredData2 = filteredData.filter(item => item.title === '碳水化合物')
					 	carbohydrateData = filteredData2.map(item => parseFloat(item.content));		
					   xAxisData1 = filteredData1.map(item => moment(item.createTime).format('YYYY年MM月DD日 HH时mm分ss秒'));
					   xAxisData2 = filteredData2.map(item => moment(item.createTime).format('YYYY年MM月DD日 HH时mm分ss秒'));

				}
				else if(this.checkedItems[0] == "bloodSugar")
				{
					 filteredData1 = filteredData.filter(item => item.title === '血糖')
					 bloodSugarSeriesData = filteredData1.map(item => parseFloat(item.content));
					  
					 carbohydrateData =  "";	
					 xAxisData2 = filteredData1.map(item => moment(item.createTime).format('YYYY年MM月DD日 HH时mm分ss秒'));
				 }
				else if(this.checkedItems[0] == "carbohydrate")
				 {
					bloodSugarSeriesData = "";
					filteredData2 = filteredData.filter(item => item.title === '碳水化合物')
					carbohydrateData = filteredData2.map(item => parseFloat(item.content));
					xAxisData2 = filteredData2.map(item => moment(item.createTime).format('YYYY年MM月DD日 HH时mm分ss秒'));
				 }
			     
                console.log(xAxisData1)
				console.log(xAxisData2)
				console.log(bloodSugarSeriesData)
				console.log(carbohydrateData)
      //            const options = {
      //                title: {
      //                    text: '血糖趋势',
      //                    left: 'center',
      //                },
      //                tooltip: {
      //                    trigger: 'axis',
      //                },
      //                xAxis: {
      //                    type: 'category',
      //                    data: xAxisData,
      //                },
      //                yAxis: {
      //                    type: 'value',
      //                    min: 0,
      //                    max: 550,
      //                    interval: 50,
      //                },
      //                series: [{
      //                    name: '血糖',
      //                    type: 'line',
      //                    data: bloodSugarSeriesData,
      //                    itemStyle: {
      //                        color: 'blue',
      //                    },
      //                },
					 // {
					 //     name: '碳水化合物',
					 //     type: 'line',
					 //     data: carbohydrateData,
					 //     itemStyle: {
					 //         color: 'red',
					 //     },
					 // }],
      //            };
                 
      //            chart.setOption(options);
	  
	  const colors = ['#5470C6', '#EE6666'];
	  option = {
	    color: colors,
	    tooltip: {
	      trigger: 'none',
	      axisPointer: {
	        type: 'cross'
	      }
	    },
	    legend: {},
	    grid: {
	      top: 70,
	      bottom: 50
	    },
	    xAxis: [
	      {
	        type: 'category',
	        axisTick: {
	          alignWithLabel: true
	        },
	        axisLine: {
	          onZero: false,
	          lineStyle: {
	            color: colors[1]
	          }
	        },
	        axisPointer: {
	          label: {
	            formatter: function (params) {
	              return (
	                'Precipitation  ' +
	                params.value +
	                (params.seriesData.length ? '：' + params.seriesData[0].data : '')
	              );
	            }
	          }
	        },
	        // prettier-ignore
	        data: xAxisData1
	      },
	      {
	        type: 'category',
	        axisTick: {
	          alignWithLabel: true
	        },
	        axisLine: {
	          onZero: false,
	          lineStyle: {
	            color: colors[0]
	          }
	        },
	        axisPointer: {
	          label: {
	            formatter: function (params) {
	              return (
	                'Precipitation  ' +
	                params.value +
	                (params.seriesData.length ? '：' + params.seriesData[0].data : '')
	              );
	            }
	          }
	        },
	        // prettier-ignore
	        data: xAxisData2
	      }
	    ],
	    yAxis: [
	      {
	        type: 'value'
	      }
	    ],
	    series: [
	      {
	        name: '血糖',
	        type: 'line',
	        xAxisIndex: 1,
	        smooth: true,
	        emphasis: {
	          focus: 'series'
	        },
	        data: bloodSugarSeriesData
	      },
	      {
	        name: '碳水化合物',
	        type: 'line',
	        smooth: true,
	        emphasis: {
	          focus: 'series'
	        },
	        data: carbohydrateData
	      }
	    ]
	  };
	  option && chart.setOption(option);
	  
	  window.addEventListener('resize', function () {
	        // 改变图表尺寸，在容器大小发生改变时需要手动调用
	        myChart.resize();
	      });
             },
 
            
        },
    })

</script>
</body>
</html>
