<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <link rel="stylesheet" href="trends.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://fastly.jsdelivr.net/npm/vue@2"></script>
    <script src="https://fastly.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://fastly.jsdelivr.net/npm/moment@2"></script>
    <script src="echarts.min.js"></script>
</head>
<body>
<div id="rend">
    <header>
        <nav>
            <div class="nav-left">
                <ul>
                    <li><a href="home.html">Home Page</a></li>
                    <li><a href="logbook.html">Logbook</a></li>
                    <li><a href="trends.html">Blood Sugar Trend</a></li>
                    <li><a href="settings.html">User Info</a></li>
                    <li><a href="ocean.html">Aquarium</a></li>
                </ul>
            </div>
            <div class="nav-right">
                <ul v-if="currentUserID">
                    <li><span style="line-height: 37px">"Welcome"</span></li>
                    <li><span style="line-height: 37px">{{ currentUserID }}</span></li>
                    <li><span style="line-height: 37px">{{ currentUserAccount }}</span></li>
                    <el-button @click="logout()">Logout</el-button>
                </ul>
                <ul v-else>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <el-card class="el-card-set">
        <h2>Trend Chart</h2>
        <div style="display: flex">
            <el-card class="el-card-set-son">
                <b>Period</b>
                <el-select v-model="selectedOption" placeholder="Please select" @change="changeDate()">
                    <el-option label="All" value="all"></el-option>
                    <el-option label="Today" value="today"></el-option>
                    <el-option label="Morning" value="morning"></el-option>
                    <el-option label="Noon" value="noon"></el-option>
                    <el-option label="Evening" value="evening"></el-option>
                    <el-option label="Custom" value="set"></el-option>
                </el-select>
                <el-date-picker v-if="selectedOption === 'set'"
                                v-model="customDateRange"
                                style="margin-top: 10px"
                                type="datetimerange"
                                range-separator="to"
                                start-placeholder="Starting Date"
                                end-placeholder="End Date"
                               @change="changeDate()"
                ></el-date-picker>
            </el-card>
            <el-card class="el-card-set-son">
                <div style="margin-bottom: 10px">
                    <b>Parameter</b>
                </div>
                <el-checkbox-group v-model="checkedItems" @change="changeDate()">
        
                    <el-checkbox label="bloodSugar">Blood Sugar(mmol/L)</el-checkbox>
                    <el-checkbox label="carbohydrate">carbohydrate(kg)</el-checkbox>
                </el-checkbox-group>
            </el-card>
        </div>
    </el-card>
    <el-card class="el-card-set">
        <div id="lineChart" style="width: 100%; height: 400px;"></div>
    </el-card>
    

    <footer>
        <p>@2024，Dialog</p>
    </footer>
</div>

<script>

    new Vue({
        name: 'rend',
        el: '#rend',
        data() {
            return {
                userMes: JSON.parse(localStorage.getItem('userMes')),
                //title: '',
                currentUser: null,
                userAccount: null,
                logs: [],
				customDateRange: [],
                createTime: '',
                bloodSugar:'',
                carb:'',
                //content: '',
                selectedOption: 'all',

				checkedItems: ["bloodSugar","carbohydrate"],
				}
        },
        created() {

            this.currentUserAccount = this.userMes.userAccount;
            this.currentUserID = this.userMes.userID;
            this.readLog();
           // var  userAccount = localStorage.getItem("userAccount")
           // this.userAccount = userAccount

        },
        methods: {
            readLog() {
                axios.post("https://dialog-1d1125195912.herokuapp.com/api/post/read/log",
                    {
                        userId: this.currentUserID
                    })
                    .then(response => {
                        console.log("readLog Processing");
                        if (Array.isArray(response.data.data)) {
                            this.logs = response.data.data;
                            console.log("All logs:", this.logs);

                        } else if (typeof response.data.data === 'object') {
                            console.log("Object log", response.data.data);
                            this.logs = Object.values(response.data.data);
                        } else {
                            console.error("Unknown data type:", response.data);
                        }
                        this.drawChart();
                    })
                    .catch(error => {
                        console.error("DATA_NOT_FOUND_ERROR:", error);
                    });
            },

	         changeDate(){
				 this.drawChart();
			 },
             drawChart() {
                 const chartContainer = document.getElementById('lineChart');
                 const chart = echarts.init(chartContainer);
                 
                 let filteredData = this.logs.filter(item => {
                     let includeItem = false;
                     const itemDate = moment(item.createTime);
                     const start = this.customDateRange ? moment(this.customDateRange[0]) : moment().startOf('day');
                     const end = this.customDateRange ? moment(this.customDateRange[1]) : moment().endOf('day');
                     
					 console.log(this.selectedOption)
                     switch (this.selectedOption) {
                         case 'today':
                             includeItem = itemDate.isSame(moment(), 'day');
                             break;
                         case 'morning':
                             includeItem = itemDate.hour() >= 6 && itemDate.hour() <= 9;
                             break;
                         case 'noon':
                             includeItem = itemDate.hour() >= 11 && itemDate.hour() <= 14;
                             break;
                         case 'evening':
                             includeItem = itemDate.hour() >= 16 && itemDate.hour() <= 19;
                             break;
                         case 'set':
                             includeItem = itemDate.isBetween(start, end);
                             break;
                         default:
                             includeItem = true;
                     }
                     return includeItem;
                 });
                
				  
                var xAxisData = "";
				var xAxisData1 = "";
				var xAxisData2 = "";
				
				var bloodSugarSeriesData = new Object();
				var carbohydrateData = new Object();
			    if(this.checkedItems.length == 2 ){
					
					 	filteredData1 = filteredData.filter(item => item.bloodSugar !== undefined && item.bloodSugar !== null && item.bloodSugar !=='')
                        filteredData1.sort((a, b) => new Date(a.createTime) - new Date(b.createTime));
					 	bloodSugarSeriesData = filteredData1.map(item => parseFloat(item.bloodSugar));
					 	filteredData2 = filteredData.filter(item => item.carb !== undefined && item.carb !== null && item.carb !=='')
                        filteredData2.sort((a, b) => new Date(a.createTime) - new Date(b.createTime));
					 	carbohydrateData = filteredData2.map(item => parseFloat(item.carb));
					   xAxisData1 = filteredData1.map(item => moment(item.createTime).format('YYYY-MM-DD HH:mm:ss'));
					   xAxisData2 = filteredData2.map(item => moment(item.createTime).format('YYYY-MM-DD HH:mm:ss'));

				}
				else if(this.checkedItems[0] == "bloodSugar")
				{
					 filteredData1 = filteredData.filter(item => item.bloodSugar !== undefined && item.bloodSugar !== null && item.bloodSugar !=='')
                     filteredData1.sort((a, b) => new Date(a.createTime) - new Date(b.createTime));
					 bloodSugarSeriesData = filteredData1.map(item => parseFloat(item.bloodSugar));
					  
					 carbohydrateData =  "";	
					 xAxisData2 = filteredData1.map(item => moment(item.createTime).format('YYYY-MM-DD HH:mm:ss'));
				 }
				else if(this.checkedItems[0] == "carbohydrate")
				 {
					bloodSugarSeriesData = "";
					filteredData2 = filteredData.filter(item => item.carb !== undefined && item.carb !== null && item.carb !=='')
                    filteredData2.sort((a, b) => new Date(a.createTime) - new Date(b.createTime));
					carbohydrateData = filteredData2.map(item => parseFloat(item.carb));
					xAxisData2 = filteredData2.map(item => moment(item.createTime).format('YYYY-MM-DD HH:mm:ss'));
				 }
			     
                console.log(xAxisData1)
				console.log(xAxisData2)
				console.log(bloodSugarSeriesData)
				console.log(carbohydrateData)
      //            const options = {
      //                title: {
      //                    text: 'Blood Sugar趋势',
      //                    left: 'center',
      //                },
      //                tooltip: {
      //                    trigger: 'axis',
      //                },
      //                xAxis: {
      //                    type: 'category',
      //                    data: xAxisData,
      //                },
      //                yAxis: {
      //                    type: 'value',
      //                    min: 0,
      //                    max: 550,
      //                    interval: 50,
      //                },
      //                series: [{
      //                    name: 'Blood Sugar',
      //                    type: 'line',
      //                    data: bloodSugarSeriesData,
      //                    itemStyle: {
      //                        color: 'blue',
      //                    },
      //                },
					 // {
					 //     name: '碳水化合物',
					 //     type: 'line',
					 //     data: carbohydrateData,
					 //     itemStyle: {
					 //         color: 'red',
					 //     },
					 // }],
      //            };
                 
      //            chart.setOption(options);
	  
	  const colors = ['#5470C6', '#EE6666'];
	  option = {
	    color: colors,
	    tooltip: {
	      trigger: 'none',
	      axisPointer: {
	        type: 'cross'
	      }
	    },
	    legend: {},
	    grid: {
	      top: 70,
	      bottom: 50
	    },
	    xAxis: [
	      {
	        type: 'category',
	        axisTick: {
	          alignWithLabel: true
	        },
	        axisLine: {
	          onZero: false,
	          lineStyle: {
	            color: colors[1]
	          }
	        },
	        axisPointer: {
	          label: {
	            formatter: function (params) {
	              return (
	                'Precipitation  ' +
	                params.value +
	                (params.seriesData.length ? '：' + params.seriesData[0].data : '')
	              );
	            }
	          }
	        },
	        // prettier-ignore
	        data: xAxisData1
	      },
	      {
	        type: 'category',
	        axisTick: {
	          alignWithLabel: true
	        },
	        axisLine: {
	          onZero: false,
	          lineStyle: {
	            color: colors[0]
	          }
	        },
	        axisPointer: {
	          label: {
	            formatter: function (params) {
	              return (
	                'Precipitation  ' +
	                params.value +
	                (params.seriesData.length ? '：' + params.seriesData[0].data : '')
	              );
	            }
	          }
	        },
	        // prettier-ignore
	        data: xAxisData2
	      }
	    ],
	    yAxis: [
	      {
	        type: 'value'
	      }
	    ],
	    series: [
	      {
	        name: 'Blood Sugar(mmol/L)',
	        type: 'line',
	        xAxisIndex: 1,
	        smooth: true,
	        emphasis: {
	          focus: 'series'
	        },
	        data: bloodSugarSeriesData
	      },
	      {
	        name: 'Carbohydrate(kg)',
	        type: 'line',
	        smooth: true,
	        emphasis: {
	          focus: 'series'
	        },
	        data: carbohydrateData
	      }
	    ]
	  };
	  option && chart.setOption(option);
	  
	  window.addEventListener('resize', function () {
	        // change size
	        chart.resize();
	      });
             },
 
            
        },
    })

</script>
</body>
</html>
